Online Bookshop MVC/Service References/ServiceReference1/ModelLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookCartCombined">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookCartCombined" nillable="true" type="tns:BookCartCombined" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookCartCombined" nillable="true" type="tns:ArrayOfBookCartCombined" />
  <xs:complexType name="BookCartCombined">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookID" type="xs:int" />
      <xs:element minOccurs="0" name="bookImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="bookPublishedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bookPublisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="bookSales" type="xs:int" />
      <xs:element minOccurs="0" name="bookStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="cartNum" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookCartCombined" nillable="true" type="tns:BookCartCombined" />
  <xs:complexType name="ArrayOfBookWishlistCombined">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookWishlistCombined" nillable="true" type="tns:BookWishlistCombined" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookWishlistCombined" nillable="true" type="tns:ArrayOfBookWishlistCombined" />
  <xs:complexType name="BookWishlistCombined">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookID" type="xs:int" />
      <xs:element minOccurs="0" name="bookImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="bookPublishedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bookPublisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="bookSales" type="xs:int" />
      <xs:element minOccurs="0" name="bookStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bookWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="wishlistPreference" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookWishlistCombined" nillable="true" type="tns:BookWishlistCombined" />
</xs:schema>